[submodule "LoadOrderMod/KianCommons"]
	path = LoadOrderMod/KianCommons
	url = https://github.com/kianzarrin/KianCommons
[submodule "LoadOrderInjections/KianCommons"]
	path = LoadOrderInjections/KianCommons
	url = https://github.com/kianzarrin/KianCommons
